@charset "UTF-8";
@font-face {
    font-family: 'Catamaran';
    src: local('Catamaran Light'), local('Catamaran-Light'), url('../fonts/Catamaranlight.woff2') format('woff2'), url('Catamaranlight.woff') format('woff'), url('Catamaranlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Catamaran';
    src: local('Catamaran'), local('Catamaran-Regular'), url('../fonts/Catamaran.woff2') format('woff2'), url('Catamaran.woff') format('woff'), url('Catamaran.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Catamaran';
    src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url('../fonts/Catamaransemibold.woff2') format('woff2'), url('Catamaransemibold.woff') format('woff'), url('Catamaransemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
      font-family: 'Catamaran-Black';
      src: url('../fonts/Catamaran-Black.ttf');
}
